<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TimeReport.Properties.Settings.TimeReportConnectionString"
            connectionString="Data Source=DESKTOP-2VU5GL9\SQLEXPRESS;Initial Catalog=TimeReport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>